page-sched {
  header.mainScr {
    background-image: url("../assets/img/dailyprogram-header.jpg");
    background-position: center center;
    background-size: cover;
  }

  .table { text-align: left;}

  h1,h2,h3,h4,h5 { font-family: 'LatoRegular', Arial, sans-serif; }

  h1{
    margin-top: 0rem;
  }
  h2{
    font-size: 1.2rem;
    margin: 0px;
    text-transform: uppercase;
  }

  .item { display: flex; margin-bottom: 15px; }

  h3{
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 9px;
    padding-right: 9px;
    border-right: 1px solid rgba(100, 195, 226, 0.66);
  }
  h4{
    font-size: 1.3rem;
    margin-top: 0px;
    margin-bottom: 3px;
    text-transform: uppercase;
    color: #4eb4d5;
    font-weight: 600;
  }
  h5 {
    font-size: 1.2rem;
    margin-top: 0px;
    text-transform: none;
  }

}
