page-newslanding {
  article.cusContent {background-color: #fff; }
  header.mainScr {
    background-image: url("../assets/img/news-header.jpg");
    background-position: center center;
    background-size: cover;
  }

  .newscat {
    margin: 0 0 50px;
  }
  .newscat h6 {
    color: #2a3a80;
    padding: 20px 0 10px;
    text-align: center;
  }
  .newscat .date, .newscat .pts {
    color: #c6c6c6;
    float: left;
    font-size: 10px;
    text-align: left;
  }
  .newscat .pts {
    text-align: right;
  }
  .newscat .row {
       justify-items: center;
      text-align: center;
      clear: both;
      display: flex;
      overflow: hidden;
      padding: 0;
      /* margin: auto; */
      flex-direction: column;
  }
  .newscat .col.item {
    padding: 10px 0px;
    align-self: center;
    text-align: center;
    display: inline-block;
    flex: 0 0 auto;
    float: left;
    margin: 0 5px 25px;
    border: 0;
    overflow: hidden;
    width: 80%;
    text-decoration: none;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
  }
  .newscat .col>h4 {
    font-family: 'LatoRegular';
    color: #00A4C8;
    font-size: 16px;
    text-align: left;
    text-overflow: initial;
    white-space: normal;
    padding-top: 10px;
  }
  .newscat .item.loadmore {
    background: #f0f0f0 none repeat scroll 0 0;
    border: medium none;
    color: #535353;
    font-size: 14px;
    letter-spacing: 3px;
    margin: 30px auto 0;
    padding: 16px;
    text-align: center;
    text-transform: uppercase;
    width: 90%;
  }

  .ar .newscat .item.loadmore { letter-spacing: 0px !important; }

  .newscat .date, .newscat .col>h4 {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .newscat .date { color: #9e9e9e; }

  .newscat h3 {
    text-align: left;
    font-family: 'LatoRegular';
    padding-left: 10px;
    font-size: 12px;
    padding-bottom: 10px;
    color: #9e9e9e;
  }
}
