page-splashnext {

  .content {
    background-image: url("../assets/img/splash-bg.jpg");
    background-position: center center;
    background-size: cover;
  }

  ion-footer {
    background: none !important;
  }

  .toolbar-background {
    background: none;
  }

  .footer::before {
    background: none;
  }

  .toolbar-content { text-align: center; }

  ion-footer button {
    color: #fff !important;
    font-size: 1.2em;
  }



  .welcomeCont h1 {
    color: #fff;
    font-family: "LatoRegular", Arial, sans-serif;
    font-size: 30px;
    line-height: 36px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 60px;
    width: 50%;
  }

  .welcome {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff;
    font-family: "LatoRegular", Arial, sans-serif;
    font-size: 1em;
    left: 50%;
    margin: 30px auto 0;
    padding: 0;
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 50%;
  }
}
