<ion-content>


      <article class="selectLang">
        <ion-list>
          <ion-radio ng-model="choice" ng-value="'A'">English</ion-radio>
          <ion-radio ng-model="choice" ng-value="'B'" dir="RTL">العربية</ion-radio>
          <ion-radio ng-model="choice" ng-value="'C'">Bahasa-Indonesia</ion-radio>
          <ion-radio ng-model="choice" ng-value="'D'">Français</ion-radio>
          <ion-radio ng-model="choice" ng-value="'E'">Türk</ion-radio>
          <ion-radio ng-model="choice" ng-value="'F'">рсский</ion-radio>
        </ion-list>
      </article>

</ion-content>
